@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.action-button {
  padding: 8px;
  border-radius: 0.75rem;
}
.action-button:hover, .action-button:focus {
  background-color: rgb(255 255 255 / 0.25);
}